<!--
CS 340 – Introduction to Databases
Project Step 3 Draft – Design UI Interface + DML SQL
Project: NextUp – A One-Stop Media Tracker
Group 11: Julia Reynolds, Stephen Stanwood

File: main.hbs

Original work. No AI or external resources were used.
-->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>NextUp</title>

  <!-- Stylesheet -->
  <link rel="stylesheet" href="/css/style.css">

  <!-- Fonts from Google Fonts (MuseoModerno) -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

</head>
<body>  
    {{{body}}}
</body>
</html>