<!--
CS 340 – Introduction to Databases
Project Step 3 Draft – Design UI Interface + DML SQL
Project: NextUp – A One-Stop Media Tracker
Group 11: Julia Reynolds, Stephen Stanwood

File: index.hbs

Original work. No AI or external resources were used.
-->

<!-- Nav Bar -->
<header id="webHeader">
    <div id="headerInnerFrame">
      <a id="siteName" href="/">NextUp: A One-Stop Media Tracker</a>
      <h1 id="role">Admin</h1>
    </div>

    <nav class="navbar">
        <a class="navButton" href="/users">Users</a>
        <a class="navButton" href="/tracker-entries">User Tracking</a>
        <a class="navButton" href="/sports-events">Sports</a>
        <a class="navButton" href="/media-items">Other Media</a>
    </nav>
</header>

<!-- Main Content -->
<main class="mainView">
    <p class="startPage">
        CS 340 – Project Step 3 Draft
    </p>

    <p class="startPage">
        Draft UI (note that tables just contain STATIC sample data for now. 🙂
    </p>

    <p class="startPage">
        Choose a category to get started
    </p>
</main>