<!--
CS 340 – Introduction to Databases
Project: NextUp – A One-Stop Media Tracker
Group 11: Julia Reynolds, Stephen Stanwood

File: index.hbs

Original work. No AI or external resources were used.
-->

<!-- Nav Bar -->
<header id="webHeader">
    <div id="headerInnerFrame">
      <a id="siteName" href="/">NextUp: A One-Stop Media Tracker</a>
      <h1 id="role">Admin</h1>
    </div>

    <div class="navbar">
        <nav>
            <a class="navButton" href="/users">Users</a>
            <a class="navButton" href="/tracker-entries">User Tracking</a>
            <a class="navButton" href="/sports-events">Sports</a>
            <a class="navButton" href="/media-items">Other Media</a>
        </nav>

        <a class="resetButton" href="/reset">
            <img src="/icons/reset.svg" alt="Reset"/>
            <p>Reset Database</p>
        </a>
    </div>
</header>

<!-- Main Content -->
<main class="mainView homepage">
    <p class="startPage">
        CS 340 – Project Step 4 Draft
    </p>

    <p class="startPage">
        Step 4 Edition: this now draws data from our database 🙂
    </p>

    <p class="startPage">
        Choose a category to get started
    </p>
</main>