<!--
CS 340 – Introduction to Databases
Project Step 3 Draft – Design UI Interface + DML SQL
Project: NextUp – A One-Stop Media Tracker
Group 11: Julia Reynolds, Stephen Stanwood

File: index.hbs

Original work. No AI or external resources were used.
-->

<p class="startPage">
    CS 340 – Project Step 3 Draft
</p>

<p class="startPage">
    Draft UI (note that tables just contain STATIC sample data for now. 🙂
</p>

<p class="startPage">
    Choose a category to get started
</p>