<!--
CS 340 – Introduction to Databases
Project Step 3 Draft – Design UI Interface + DML SQL
Project: NextUp – A One-Stop Media Tracker
Group 11: Julia Reynolds, Stephen Stanwood

File: index.hbs

Original work. No AI or external resources were used.
-->

<h1>NextUp: A One-Stop Media Tracker</h1>
<p>CS 340 – Project Step 3 Draft</p>

<p>Draft UI (note that tables just contain <b>STATIC</b> sample data for now. 🙂</p>

<h2>Browse Pages</h2>
<ul>
    <li><a href="/users">Browse Users</a></li>
    <li><a href="/media-items">Browse Media Items</a></li>
    <li><a href="/sports-events">Browse Sports Events</a></li>
    <li><a href="/tracker-entries">Browse User Tracker Entries</a></li>
</ul>