<!--
CS 340 – Introduction to Databases
Project Step 3 Draft – Design UI Interface + DML SQL
Project: NextUp – A One-Stop Media Tracker
Group 11: Julia Reynolds, Stephen Stanwood

File: sports-events.hbs

Original work. No AI or external resources were used.
-->

<!-- Nav Bar -->
<header id="webHeader">
    <div id="headerInnerFrame">
      <a id="siteName" href="/">NextUp: A One-Stop Media Tracker</a>
      <h1 id="role">Admin</h1>
    </div>

    <nav class="navbar">
        <a class="navButton" href="/users">Users</a>
        <a class="navButton" href="/tracker-entries">User Tracking</a>
        <a class="navButton active" href="/sports-events">Sports</a>
        <a class="navButton" href="/media-items">Other Media</a>
    </nav>
</header>

<!-- Main Content -->
<main class="mainView">

    <div class="tableBox">
        <h1 class="tableName">Sports Events</h1>

        <table>
        <thead>
            <tr>
                <th>sportsEventID</th>
                <th>typeOfSport</th>
                <th>homeTeam</th>
                <th>awayTeam</th>
                <th>startTime</th>
                <th>runtimeMins</th>
                <th>recordingIsAvailable</th>
                <th>platform</th>
                <th>
                    <button type="button" class="addButton">
                        <img src="/icons/add.svg" alt="Add"/>
                        add
                    </button>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Football</td>
                <td>Pittsburgh Steelers</td>
                <td>Arizona Cardinals</td>
                <td>2009-02-01 18:31</td>
                <td>218</td>
                <td>true</td>
                <td>NBC</td>
                <td>
                    <div class="buttonContainer">
                        <button type="button" class="editButton">
                            <img src="/icons/edit.svg" alt="Edit"/>
                        </button>
                        <button type="button" class="deleteButton">
                            <img src="/icons/delete.svg" alt="Delete"/>
                        </button>
                    </div>
                </td>
            </tr>
            <tr>
                <td>2</td>
                <td>Basketball</td>
                <td>Golden State Warriors</td>
                <td>Boston Celtics</td>
                <td>2022-06-16 21:00</td>
                <td>140</td>
                <td>true</td>
                <td>ABC</td>
                <td>
                    <div class="buttonContainer">
                        <button type="button" class="editButton">
                            <img src="/icons/edit.svg" alt="Edit"/>
                        </button>
                        <button type="button" class="deleteButton">
                            <img src="/icons/delete.svg" alt="Delete"/>
                        </button>
                    </div>
                </td>
            </tr>
            <tr>
                <td>3</td>
                <td>Baseball</td>
                <td>Chicago Cubs</td>
                <td>Cleveland Guardians</td>
                <td>2016-11-02 20:02</td>
                <td>268</td>
                <td>true</td>
                <td>FOX</td>
                <td>
                    <div class="buttonContainer">
                        <button type="button" class="editButton">
                            <img src="/icons/edit.svg" alt="Edit"/>
                        </button>
                        <button type="button" class="deleteButton">
                            <img src="/icons/delete.svg" alt="Delete"/>
                        </button>
                    </div>
                </td>
            </tr>
        </tbody>
        </table>
    </div>

    {{!-- <div class="tableBox">
        <h2 class="formName">Add Sports Event</h2>
        <form class="form">
            <label>Type of Sport:
                <input class="textBox" type="text" name="typeOfSport">
            </label><br>
            <label>Home Team:
                <input class="textBox" type="text" name="homeTeam">
            </label><br>
            <label>Away Team:
                <input class="textBox" type="text" name="awayTeam">
            </label><br>
            <label>Start Time:
                <input class="textBox" type="datetime-local" name="startTime">
            </label><br>
            <label>Runtime (mins):
                <input class="textBox" type="number" name="runtimeMins">
            </label><br>
            <label>Recording Available:
                <select class="textBox" name="recordingIsAvailable">
                    <option value="1">true</option>
                    <option value="0">false</option>
                </select>
            </label><br>
            <label>Platform:
                <input class="textBox" type="text" name="platform">
            </label><br>
            <button type="submit" class="doneButton">
                <img src="/icons/check.svg" alt="Add Sports Event"/>
                add sports event
            </button>
        </form>
    </div>

    <div class="tableBox">
        <h2 class="formName">Update Sports Event</h2>
        <form class="form">
            <label>Sports Event ID:
                <input class="textBox" type="number" name="sportsEventID">
            </label><br>
            <label>Type of Sport:
                <input class="textBox" type="text" name="typeOfSport">
            </label><br>
            <label>Home Team:
                <input class="textBox" type="text" name="homeTeam">
            </label><br>
            <label>Away Team:
                <input class="textBox" type="text" name="awayTeam">
            </label><br>
            <label>Start Time:
                <input class="textBox" type="datetime-local" name="startTime">
            </label><br>
            <label>Runtime (mins):
                <input class="textBox" type="number" name="runtimeMins">
            </label><br>
            <label>Recording Available:
                <select class="textBox" name="recordingIsAvailable">
                    <option value="1">true</option>
                    <option value="0">false</option>
                </select>
            </label><br>
            <label>Platform:
                <input class="textBox" type="text" name="platform">
            </label><br>
            <button type="submit" class="doneButton">
                <img src="/icons/check.svg" alt="Update Sports Event"/>
                update sports event
            </button>
        </form>
    </div> --}}

        <!--
        <h2>Delete Sports Event (DELETE)</h2>
        <form>
            <label>Sports Event ID:
                <input type="number" name="sportsEventID">
            </label><br>
            <button type="submit">Delete Sports Event</button>
        </form> -->

</main>