<!--
CS 340 – Introduction to Databases
Project: NextUp – A One-Stop Media Tracker
Group 11: Julia Reynolds, Stephen Stanwood

File: users.hbs

Original work. No AI or external resources were used.
-->

<!-- Nav Bar -->
<header id="webHeader">
    <div id="headerInnerFrame">
      <a id="siteName" href="/">NextUp: A One-Stop Media Tracker</a>
      <h1 id="role">Admin</h1>
    </div>

    <div class="navbar">
        <nav>
            <a class="navButton active" href="/users">Users</a>
            <a class="navButton" href="/tracker-entries">User Tracking</a>
            <a class="navButton" href="/sports-events">Sports</a>
            <a class="navButton" href="/media-items">Other Media</a>
            <a class="navButton" href="/demo-delete">Delete (Test)</a>
        </nav>

        <a class="resetButton" href="/reset">
            <img src="/icons/reset.svg" alt="Reset"/>
            <p class="hidden">Reset Database</p>
        </a>
    </div>
</header>

<!-- Main Content -->
<main class="mainView">

    <div class="tableBox">
        <h1 class="tableName">Users</h1>

        <table class="table" id="usersTable">
            <thead class="tableHeader">
                <tr>
                    <th>ID</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>
                        <button type="button" class="addButton" data-target="addUserForm" aria-expanded="false">
                            <img src="/icons/add.svg" alt="Add"/>
                            add
                        </button>
                    </th>
                </tr>
            </thead>
            <tbody>
                {{#each data}}
                    <tr>
                        <td>{{this.userID}}</td>
                        <td>{{this.username}}</td>
                        <td>{{this.email}}</td>
                        <td>
                            <div class="buttonContainer">
                                <button type="button" class="editButton" data-editTarget="updateUserForm">
                                    <img src="/icons/edit.svg" alt="Edit"/>
                                </button>
                                <form id="deleteUserForm" method='POST' action='/users/delete'>
                                    <input type="hidden" value="{{this.userID}}" name="delete_userID">
                                    <button type="submit" class="deleteButton">
                                        <img src="/icons/delete.svg" alt="Delete"/>
                                    </button>
                                </form>
                            </div>
                        </td>
                    </tr>
                {{/each}}
                {{!-- <tr class = "InsertUser">
                    <form>
                        <td>new</td>
                        <td>
                            <input class="textBox" type="text" name="username">
                        </td>
                        <td>
                            <input class="textBox" type="email" name="email">
                        </td>
                        <td>
                            <button type="submit" class="doneButton">
                                <img src="/icons/check.svg" alt="Done"/>
                                done
                            </button>
                        </td>
                    </form>
                </tr> --}}
            </tbody>
        </table>
    </div>

    <div class="tableBox hidden">
        <h2 class="formName">Add User</h2>
        <form class="form" id="addUserForm" method='POST' action='/users/insert'>
            <label>Username:
                <input class="textBox" type="text" name="username">
            </label><br>
            <label>Email:
                <input class="textBox" type="email" name="email">
            </label><br>
            <div class="buttonBox">
                <button type="button" class="cancelButton">
                    cancel
                </button>
                <button type="submit" class="doneButton">
                    <img src="/icons/check.svg" alt="Add User"/>
                    add user
                </button>
            </div>
        </form>
    </div>

    <div class="tableBox hidden">
        <h2 class="formName">Update User</h2>
        <form class="form" id="updateUserForm" method='POST' action='/users/update'>
            <label>User ID:
                <input class="textBox" type="number" name="userID">
            </label><br>
            <label>Username:
                <input class="textBox" type="text" name="username">
            </label><br>
            <label>Email:
                <input class="textBox" type="email" name="email">
            </label><br>
            <div class="buttonBox">
                <button type="button" class="cancelButton">
                    cancel
                </button>
                <button type="submit" class="doneButton">
                    <img src="/icons/check.svg" alt="Done"/>
                    update user
                </button>
            </div>
        </form>
    </div>

        {{!-- <h2 class="formName">Delete User (DELETE)</h2>
            <form class="form">
            <label>User ID:
                <input class="textBox" type="number" name="userID">
            </label><br>
            <button type="submit">Delete User</button>
        </form> --}}

</main>