/*
    CS 340 – Introduction to Databases
    Project Step 3 Draft – Design UI Interface + DML SQL
    Project: NextUp – A One-Stop Media Tracker
    Group 11: Julia Reynolds, Stephen Stanwood

    File: style.css

    Original work. No AI used.
    Designed in Figma. Used Figma DevMode to get CSS as a starting point.
*/

/* Color variables */
:root
{
    /* Greyscale Colors */
    --Lightest-Grey:        #D7D8DB;
    --Second-Lightest-Grey: #BCBEC2;
    --Third-Lightest-Grey:  #797D86;
    --Fourth-Darkest-Grey:  #3D3F43;
    --Third-Darkest-Grey:   #1D1E20;
    --Second-Darkest-Grey:  #18191B;
    --Darkest-Grey:         #131415;

    /* Colors */
    --Color1:               #A6F3A6;
    --Color2:               #00BD6B;
    --Color3:               #00BDA1;
    --Color4:               #0B98F1;
    --Color5:               #99FFF0;
    --WarningColor:         #ffd579;

    /* Shadow */
    --Shadow:                 0 4px 4px 0 rgba(12, 13, 13, 0.25);

    /* Font Sizes */
    --Smallest-Font-Size:           10px;
    --Second-Smallest-Font-Size:    12px;
    --Third-Smallest-Font-Size:     14px;
    --Medium-Font-Size:             16px;
    --Third-Largest-Font-Size:      20px;
    --Second-Largest-Font-Size:     24px;
    --Largest-Font-Size:            48px;

    /* Font */
    --Font:                 MuseoModerno;
    font-family:            var(--Font);
    color:                  var(--Second-Lightest-Grey);

    /* Set Background */
    background:             var(--Darkest-Grey);

    /* Set to Dark Mode */
    color-scheme:           dark;
}

/* Remove default padding around body */
body
{
    margin: 0;
    padding: 0;
}

/* Web header styles */
#webHeader
{
    /* layout */
    display:            flex;
    flex-direction:     column;
    align-items:        flex-start;
    align-self:         stretch;
    position:           sticky;
    top:                0;           
    z-index:            1000;
}

#headerInnerFrame
{
    /* layout */
    display:            flex;
    padding-inline:     25px;
    justify-content:    space-between;
    align-items:        center;
    align-self:         stretch;

    /* style */
    border-bottom:      1px solid var(--Third-Lightest-Grey);
    background:         var(--Darkest-Grey);
}

#siteName
{
    color:              var(--Lightest-Grey);
    font-size:          var(--Third-Largest-Font-Size);
    font-style:         normal;
    font-weight:        400;
    line-height:        1;
    text-decoration:    none;
}

#role
{
    color:          var(--Color3);
    font-size:      var(--Third-Largest-Font-Size);
    font-style:     normal;
    font-weight:    400;
    line-height:    1;
}

/* Nav Bar */
.navbar
{
    /* layout */
    display:            flex;
    padding:            0px 25px 0 10px;
    align-items:        center;
    justify-content:    space-between;
    align-self:         stretch;

    /* style */
    background:         var(--Third-Darkest-Grey);
}

nav
{
    /* layout */
    display:            flex;
    padding:            5px 0px 0px 0px;
    align-items:        flex-start;
    /* gap:                5px; */
    align-self:         stretch;
}

.navButton
{
    /* layout */
    display:            flex;
    padding:            10px 15px;
    flex-direction:     column;
    justify-content:    center;
    align-items:        center;
    gap:                10px;

    /* typography */
    overflow:           hidden;
    color:              var(--Third-Lightest-Grey);
    text-overflow:      ellipsis;
    font-size:          var(--Third-Smallest-Font-Size);
    font-style:         normal;
    font-weight:        400;
    line-height:        1;
    text-decoration:    none;

    /* style */
    border-radius:      20px 20px 0 0;
}

.navButton:hover
{
    /* typography */
    color:              var(--Color3);

    /* style */
    border-radius:      20px 20px 0 0;
    background:         var(--Second-Darkest-Grey);
}

.navButton.active
{
    /* typography */
    color:              var(--Color3);

    /* style */
    border-radius:      20px 20px 0 0;
    background:         var(--Darkest-Grey);
}

/* Reset Button */
.resetButton
{
    /* layout */
    display:         flex;
    padding:         0px 10px;
    justify-content: center;
    align-items:     center;
    gap:             8px;
    
    /* style */
    border:         1px solid var(--Third-Lightest-Grey);
    border-radius:  8px;
    background:     none;

    /* typography */
    color:          var(--Third-Lightest-Grey);
    font-family:    var(--Font);
    font-size:      var(--Third-Smallest-Font-Size);
    font-weight:    500;
    text-decoration: none;
}

.resetButton img,
.resetButton svg
{
    width:  var(--Third-Smallest-Font-Size);
    height: var(--Third-Smallest-Font-Size);
}

.resetButton p
{
    /* remove the default spacing from p text in the button */
    margin:  0;
    padding: 0;
}

.resetButton:hover
{
    border:     none;
    background: var(--WarningColor);
    color:      var(--Third-Darkest-Grey);
}

.resetButton:hover img, .resetButton:hover svg
{ 
    filter:     brightness(25%);
    display:    inline;
}

/* Expand reset button by default (so our grader sees it) */
.resetButton .hidden
{
    display: inline;
}

/* Main Content View Area */
main
{
    /* layout */
    display:            flex;
    padding:            25px;
    flex-direction:     column;
    justify-content:    center;
    align-items:        center;
    flex:               1 0 0;
    align-self:         stretch;
}

p.startPage
{
    /* color:              var(--Third-Lightest-Grey); */
    font-size:          var(--Second-Largest-Font-Size);
    font-style:         normal;
    font-weight:        300;
    line-height:        normal;
}

/* Table Styles */
.tableName
{
    /* layout */
    display:        flex;
    align-items:    center;
    margin-bottom:  0;

    /* typography */
    color:          var(--Fourth-Darkest-Grey);
    font-size:      var(--Largest-Font-Size);
    font-style:     normal;
    font-weight:    300;
    line-height:    normal;
}

table
{
    /* layout */
    padding:                10px 15px;
    border-collapse:        separate;
    border-spacing:         25px 5px;     

    /* style */
    border-radius:          20px;
    background:             var(--Third-Darkest-Grey);
    box-shadow:             var(--Shadow);
}

th
{
    /* layout */
    text-align:     left;

    /* typography */
    color:          var(--Lightest-Grey);
    font-size:      var(--Third-Largest-Font-Size);
    font-style:     normal;
    font-weight:    500;
    line-height:    normal;
}

td
{
    /* layout */
    width:          10px;   

    /* typography */
    color:          var(--Third-Lightest-Grey);
    font-size:      var(--Medium-Font-Size);
    font-style:     normal;
    font-weight:    300;
    line-height:    normal;
    white-space:    nowrap;
}

.buttonContainer
{
    /* layout */
    display:            flex;
    gap:                5px;
    width:              100%;
    justify-content:    space-evenly;
    align-items:        center;
}

/* Forms */
.hidden
{
    display: none;
}

.form
{
    /* layout */
    padding:                10px 15px 20px 15px;
    gap:                    0px;
    display:                grid;
    justify-content:        left;
    align-items:            center;

    /* style */
    border-radius:          20px;
    background:             var(--Third-Darkest-Grey);
    box-shadow:             var(--Shadow);

    /* typography */
    color:                  var(--Third-Lightest-Grey);
    font-family:            var(--Font);
    font-size:              var(--Medium-Font-Size);
    font-style:             normal;
    font-weight:            300;
    line-height:            normal;
}

.formName
{
    /* layout */
    display:        flex;
    align-items:    center;
    margin-bottom:  0;

    /* typography */
    color:          var(--Fourth-Darkest-Grey);
    font-size:      var(--Second-Largest-Font-Size);
    font-style:     normal;
    font-weight:    300;
    line-height:    normal;
}

/* Form Fields */
.textBox
{
    /* layout */
    width:              100%;
    height:             100%;
    box-sizing:         border-box;
    padding:            0px 5px;
    border-radius:      10px;
    border:             none;
    background:         var(--Darkest-Grey);

    /* typography */
    color:              var(--Third-Lightest-Grey);
    font-family:        var(--Font);
    font-size:          var(--Medium-Font-Size);
    font-style:         normal;
    font-weight:        300;
    line-height:        normal;
}

/* calendar icon in datetime picker */
input[type="datetime-local"]::-webkit-calendar-picker-indicator
{
    filter:             brightness(0.32) sepia(100) hue-rotate(150deg) saturate(0.4);
}

.buttonBox
{
    /* layout */
    display:            flex;
    align-items:        center;
    justify-content:    space-between;
}

/* Edit Buttons */
.editButton
{ 
    background: none;
    border:     none;
    padding:    4px;
    cursor:     pointer;
}

.editButton img, .editButton svg
{ 
    width:      18px;
    height:     18px;
}

.editButton:hover
{
    filter:     hue-rotate(20deg) brightness(1.5);
}

/* Delete Buttons */
.deleteButton
{ 
    background: none;
    border:     none;
    padding:    4px;
    cursor:     pointer;
}

.deleteButton img, .deleteButton svg
{ 
    width:      18px;
    height:     18px; 
}

.deleteButton:hover
{
    filter:     hue-rotate(-20deg) brightness(35);
}

/* Done Button */
.doneButton
{ 
    /* layout */
    display:                flex;
    padding:                0px 8px;
    justify-content:        center;
    align-items:            center;
    gap:                    8px;  
    justify-self:           stretch;

    /* style */
    border-radius:          8px;
    border:                 none;
    background:             var(--Color2);

    /* typography */
    color:                  var(--Third-Darkest-Grey);
    font-family:            var(--Font);
    font-size:              var(--Medium-Font-Size);
    font-style:             normal;
    font-weight:            500;
    line-height:            normal;
}

.doneButton:hover
{
    background:             var(--Color1);
}

/* Cancel Button */
.cancelButton
{ 
    /* layout */
    display:                flex;
    padding:                0px 8px;
    justify-content:        center;
    align-items:            center;
    gap:                    8px;  
    justify-self:           stretch;

    /* style */
    border-radius:          8px;
    border:                 none;
    background:             none;

    /* typography */
    color:                  var(--Third-Lightest-Grey);
    font-family:            var(--Font);
    font-size:              var(--Medium-Font-Size);
    font-style:             normal;
    font-weight:            500;
    line-height:            normal;
}

.cancelButton:hover
{
    background:             var(--Fourth-Darkest-Grey);
    color:                  var(--Third-Darkest-Grey);
}

/* Add Button */
.addButton
{ 
    /* layout */
    display:                flex;
    padding:                0px 5px;
    justify-content:        center;
    align-items:            center;
    gap:                    8px;
    justify-self:           stretch;

    /* style */
    border-radius:          8px;
    border:                 none;
    background:             var(--Color4);

    /* typography */
    color:                  var(--Third-Darkest-Grey);
    font-family:            var(--Font);
    font-size:              var(--Medium-Font-Size);
    font-style:             normal;
    font-weight:            500;
    line-height:            normal;
}

.addButton img, .addButton svg
{ 
    width:      var(--Medium-Font-Size);
    height:     var(--Medium-Font-Size); 
}

.addButton:hover
{
    background: var(--Color2);
}